
body {
    margin: 25px;
    background-color: rgb(256, 256, 256);
    font-family: Courier, sans-serif;
    font-size: 14px;
    max-width: 95%;
}

/* Applies to all <h1>...</h1> elements. */
h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

/* Applies to all elements with <... class="someclass"> specified. */

div {
    margin-left: 10px;
}

div.issue_div {
    margin-left: 40px;
    border-left: solid #94C9A9 10px;
    padding-left: 10px;
}

p {
    margin-left: 10px;
}
ul {
    list-style: none;
}
ul li::before {
    content: "\2022";
    color: #94C9A9;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

